*{
    margin: 0;  
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

}
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 47, 47, 0.89);
}

.cabecalhoCaixa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 70vw;
    padding: 2em 0;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

.cabecalhoCaixa h1 a{
    color: aliceblue;
}

.cabecalhoCaixa img{
    width: 15vw;
    border-radius: 50px;
}

.navegacao{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid aliceblue;
}
.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 70vw;
    margin: 10px 0;
}

.menu-opcao{
    list-style-type: none;
    margin: 10px 2px;
}
.opcao-link{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.25em;
    padding: 10px 5em;
}
.opcao-link:hover{
    border: 2px solid aliceblue;
    border-radius: 25px;
    background: aliceblue;
    color: rgba(253, 47, 47, 0.89);
}


.container-conteudo, .container-formulario {

    width: 100%;
    display: flex;
    justify-content: center;

}

.conteudo-principal, .conteudo-formulario {
    margin: 10px 0;
    border: 2px solid rgba(253, 47, 47, 0.89);
    border-radius: 50px;
    width: 100%;
    max-width: 70vw;
    height: 100%;
    min-height: 40vh;
    padding: 2em;
    display: flex;
    background: rgba(255, 131, 117, 0.199);

}

.conteudo-formulario{
    flex-direction: column;
    text-align: center;
}

.principalMateria {
    width: 100%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.50em;
    margin: 0 10px;
    border: 2px solid red;
    background: rgb(255, 255, 248);
    border-radius: 20px;
    text-align: center;
    
}

.tituloMateria, .tituloFormulario{
    margin-bottom: 5px;
    color: rgba(253, 47, 47, 0.89);
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
}

.imagemMateria{
    width: 80%;
    margin-bottom: 5px;
    max-width: 50vw;
}

.textoMateria{
    margin-bottom: 5px;
}

.bold{
    font-weight: 700;
}


.form-label {
    font-size: 1.1em;
}

.form-input {
    padding: 5px 15px;
    font-size: 1.1em;
    margin-top: 5px;
}

.form-submit {
    padding: 10px;
    width: 15vw;
    margin-top: 5px;
    background-color: aliceblue;
    border: rgba(253, 47, 47, 0.89) 2px solid;
    border-radius: 20px;
}


.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 47, 47, 0.89);
    width: 100%;

}

.rodapeCaixa {
    width: 70vw;
    text-align: center;
    padding: 3em;
}

.rodapeInfo {
    color: aliceblue;
    font-size: 1.2em;
}


@media screen and (max-width: 1280px){
    .conteudo-principal{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}